dataloader:
  path_df: './datasets/train.csv'
  train_dataset:
    dir_train: './datasets/train/'
  valid_dataset:
    dir_test: './datasets/test/'
  train_loader:
    batch_size: 16
    shuffle: False
    num_workers: 4
  valid_loader:
    batch_size: 16
    shuffle: False
    num_workers: 4

train:
  epochs: 120
  path_save_model: './artifacts/saved_models/'
  model_name: 'fasterrcnn_imgaug'
  path_history: './artifacts/history/'
