dataloader:
  path_df: './datasets/train.csv'
  train_dataset:
    dir_train: './datasets/train/'
  valid_dataset:
    dir_test: './datasets/test/'
  train_loader:
    batch_size: 4
    shuffle: False
    num_workers: 4
  valid_loader:
    batch_size: 4
    shuffle: False
    num_workers: 4
